<!DOCTYPE html>
<html lang="en-US">

<head>
  {{ partial "head" . }}
</head>

<body id="fullsingle" class="page-template-page-fullsingle-split">

  <div class="fs-split">

    <!-- Image -->
    {{ if .Site.Params.visual.image.enable }}
      <div class="split-image">
        <!-- Image content goes here -->
      </div>
    {{ end }}

    <!-- Content Side -->
    <div class="split-content">
      <div class="split-content-vertically-center">

        <!-- Intro -->
        {{ partial "intro" . }}

        <!-- Bio -->
        {{ partial "bio" . }}

        <!-- Video -->
        <div class="video-wrap">
          <div class="video-container">
            <iframe class="video-content" src="https://www.youtube.com/embed/{{ .Site.Params.visual.video.youtubeId }}?rel=0&amp;controls=0&amp;showinfo=0&amp;loop=1&amp;playlist={{ .Site.Params.visual.video.youtubeId }}&amp;autoplay=1{{ if .Site.Params.visual.video.mute }}&amp;mute=1{{ end }}" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>

        <!-- Links -->
        {{ partial "links" . }}

        <!-- Footer -->
        {{ partial "footer" . }}

      </div>
    </div>

  </div>

</body>
</html>
